{% extends "homepage.html" %}

{% block title %}
Profile - {{ user.username }}
{% endblock title %}


{% block body %}
{% include "navbar.html" %}
<p>User profile - {{ user.username }} </p>
{% block form %}
{% if form %}
<form action="" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.picture }}
    {{ form.confirmation_button }}
</form>
{% endif %}
{% endblock form %}


<img src="{{ url_for('static', filename='post_pictures/default.png') }}" alt="default image">


{% for post in user.posts %}
<img src="{{ url_for('static', filename='post_pictures/{}'.format(post.picture)) }}" alt="">
{% endfor %}

{% endblock body %}